body{
	display: flex;
	flex-direction: row;
}
div{
	width: 100px;
	height: 150px;
	font-size: 40px;
	margin-right: 10px;
	border-left: 10px solid #D0D0FF;
	border-style: hidden hidden hidden dotted;
	padding-left: 10px;
	padding-top: 10px;
	background-color: #eeeff2;
}
div:hover{
  background-color: yellow;
  color: goldenrod;
}
.three{
	position: absolute;
	bottom: 10px;
	right: 0;
	display: flex;
	flex-direction: row;

}
