div{
	width: 100px;
	height: 100px;
	font-size: 40px;
	margin: auto;
	border-top: 1px solid #687291;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}
.one{
	background-color: #dfe1e7;
}
.two{
	background-color: #eeeff2;
}
.three{
	background-color: #687291;
	border: 4px solid black;
}


